<h3>投稿</h3>
<% if post_image.errors.any? %>
  <%= post_image.errors.count %>件のエラーが発生しました
  <ul>
    <% post_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: post_image, local: true do |f| %>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :shop_name %>
    <%= f.text_field :shop_name %>
  </div>
  <div>
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>